.straube-wrapper {
  display:block;
}

.straube-big-1 {
  width: 100%
}

.straube-big-2 {
  float: left;
  width: 48%;
  margin-right: 3%;
}

.straube-big-3 {
  float: left;
  width: 31%;
  margin-right: 2.5%;
}

.straube-big-4 {
  float: left;
  width: 23%;
  margin-right: 2%;
}

.straube-row {
  clear: both;
  display: block;
}

.straube-row .straube-big-1:last-child,
.straube-row .straube-big-2:last-child,
.straube-row .straube-big-3:last-child,
.straube-row .straube-big-4:last-child {
  margin-right: 0;
}
